---
#
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: traveltripped
type: Opaque
data:
  # echo -n "admin" | base64
  MONGO_ROOT_USER: Q0hBTkdFX01F
  # echo -n "<a real password>" | base64
  MONGO_ROOT_PASSWORD: Q0hBTkdFX01F
  # echo -n "<a random 32+ character string>" | base64
  JWT_SECRET: Q0hBTkdFX01F
